/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 3px; // For consistent padding
$grey: #ffffff; // Background color
$width: 1040px; // Width of the content area
$br: 3px; // Border radius
$btn-br: 5px; // Border radius
$primary-color: #348eda; // Primary color for buttons and links
