/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */

body{
  background-color: #f6f6f6;
}

.body {
  background-color: #f6f6f6;
  width: 100%;
}

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block;
  margin: 0 auto !important; /* makes it centered */
  width: $width;
  padding: 10px;
  width: auto !important;
  width: $width;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  display: block;
  margin: 0 auto;
  max-width: $width;
  padding: 10px;
}


/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */

.main {
  background: $grey;
  border: 1px solid darken($grey, 5);
  border-radius: $br;
  width: 100%;
}

.wrapper {
  padding: $padding;
}

// Adds padding to content - use this instead of paragraphs for consistent padding/margin rendering
.content-block {
  padding: 0 0 $padding;
}

.header {
  margin-bottom: $padding;
  margin-top: ($padding - 10);
  width: 100%;
}

.footer {
  clear: both;
  width: 100%;

  * {
    color: #999;
    font-size: 12px;
  }

  td {
    padding: 20px 0;
  }
}

.sideimg {
  float: left;
  width: 28%;
}

.txt {
  width: 72%;
  float: right;
}

.border {
  padding: 10px;
  border: 1px solid #b4b4b4;
  background-color: white;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;

  .readmore {
    width: 90px;
    display: block;
    position: absolute;
    right: 25px;
    bottom: 10px;
  }
}

.list-title {
  margin-bottom: 10px;
}

.prev-box {
  margin-top: 6px;
  ul {
    border-style: solid;
    border-color: #b4b4b4;
    border-width: 0 1px 1px 1px;
    padding: 10px;
    text-align: center;
    margin: 0;
    li {
      font-size: 13px;
      color: #333;
      line-height: 2.5em;
      a {
        color: #333;
      }
      margin: 0;
    }
  }
}

.emarketing {
  position: relative;
  .readmore {
    float: none;
    margin-right: 0;
    position: absolute;
    bottom: 15px;
    right: 20px;
  }
}
