---
layout: default.hbs
subject: Demo email
---
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td colspan="2">
            <img src="../src/img/benz/header.png" alt="">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table cellspacing="10" style="background-color: black;">
              <tr>
                <td width="65%">
                  <img src="../src/img/benz/cover1.png" alt="" style="padding: 10px; background-color: white;">
                </td>
                <td></td>
                <td width="34%">
                  <img src="../src/img/benz/video1.png" alt="">
                  <img src="../src/img/benz/tv-commercial.png" alt="" style="margin-top: 11px;">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table>
              <tr>
                <td class="sidebar" width="31%">
                  <table>
                    <tr>
                      <td>
                        <div class="border">
                          <div class="emarketing">
                            <img src="../src/img/benz/sidebar.png" alt="">
                            <a href="#" class="readmore"><img src="../src/img/benz/readmore.png" alt=""></a>
                          </div>
                          <br />
                          <br />
                          <div class="prev-box">
                            <img src="../src/img/benz/review-prev-title.png">
                            <ul>
                              <li>&gt;<a href="#">2015 May.BMBS Marketing Newsletter</a></li>
                              <li>&gt;<a href="#">2015 Apr.BMBS Marketing Newsletter</a></li>
                              <li>&gt;<a href="#">2015 Mar.BMBS Marketing Newsletter</a></li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
                <td></td>
                <td>
                  <table>
                    <tr>
                      <td>
                        <div class="border">
                          <img src="../src/img/benz/new-product-title.png" alt="" class="list-title">
                          <div class="sideimg">
                            <img src="../src/img/benz/new-product-img.png" alt="">
                            <p class="tvc-tips"><img src="../src/img/benz/tvc-tip.png" alt=""></p>
                          </div>
                          <div class="txt">
                            <img src="../src/img/benz/new-product-txt.png" alt="">
                            <a href="#" class="readmore"><img src="../src/img/benz/readmore.png" alt=""></a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="border">
                          <img src="../src/img/benz/amg-title.png" alt="" class="list-title">
                          <div class="sideimg">
                            <img src="../src/img/benz/amg-img.png" alt="">
                            <p class="tvc-tips"><img src="../src/img/benz/tvc-tip.png" alt=""></p>
                          </div>
                          <div class="txt">
                            <img src="../src/img/benz/amg-txt.png" alt="">
                            <a href="#" class="readmore"><img src="../src/img/benz/readmore.png" alt=""></a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="border">
                          <img src="../src/img/benz/sports-title.png" alt="" class="list-title">
                          <div class="sideimg">
                            <img src="../src/img/benz/sports-img.png" alt="">
                          </div>
                          <div class="txt">
                            <img src="../src/img/benz/sports-txt.png" alt="">
                            <a href="#" class="readmore"><img src="../src/img/benz/readmore.png" alt=""></a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="footer">
            <img src="../src/img/benz/footer.png" alt="">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_lee }}</p>
      </td>
    </tr>
  </table>
</div>
-->
