---
layout: default.hbs
subject: Demo email
---
<table class="main">
  <tr>
    <td class="wrapper">
      <table cellspacing="10">
        <tr>
          <td colspan="2">
            <table>
              <tr>
                <td style="width: 48%;" width="48%">
                  <img src="../src/img/benz/head.png" width="100%" alt="benz">
                </td>
                <td width="4%"></td>
                <td>
                  <table border="0">
                    <tr>
                      <td colspan="3">
                        <img src="../src/img/benz/head2.png" alt="" style="margin-bottom: 10px;">
                      </td>
                    </tr>
                    <tr>
                      <td class="align-center">
                        <a href="http://7xims5.com1.z0.glb.clouddn.com/content1.pdf" target="_blank"><img src="../src/img/benz/button.png" /></a>
                      </td>
                      <td width="6%"></td>
                      <td class="align-center">
                        <a href="http://7xims5.com1.z0.glb.clouddn.com/content2.pdf" target="_blank"><img src="../src/img/benz/button.png" /></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="3" height="20"></td>
              </tr>
              <tr>
                <td width="48%" height="210">
                  <!--
            <div class="video_holder">
              <video width="100%" height="243" controls>
                  <source src="http://7xims5.com1.z0.glb.clouddn.com/video_demo1.mp4" type="video/mp4">
                  <a href="http://128.199.242.218/video1.html" target="_blank"><img src="../src/img/benz/video1.png" /></a>
              </video>
            </div>
            <div class="android" style="display:none; width:0px; height:0px; overflow:hidden;">
                  <a href="http://128.199.242.218/video1.html" target="_blank"><img src="../src/img/benz/video1.png" /></a>
            </div>
            -->
                  <a href="http://v.youku.com/v_show/id_XODY2MzQ1Njg4.html" target="_blank"><img src="../src/img/benz/video1.png" /></a>
                </td>
                <td widht="4%"></td>
                <td>
                  <div class="video_holder" style="background-color: black;">
                    <video width="100%" height="210" controls>
                      <source src="http://7xims5.com1.z0.glb.clouddn.com/video_demo2.mp4" type="video/mp4">
                      <a href="http://128.199.242.218/video2.html" target="_blank"><img src="../src/img/benz/video2.png" /></a>
                    </video>
                  </div>
                  <div class="android" style="display:none; width:0px; height:0px; overflow:hidden;">
                    <a href="http://128.199.242.218/video2.html" target="_blank"><img src="../src/img/benz/video2.png" /></a>
                  </div>
                  <!--
                  <a href="http://128.199.242.218/video2.html" target="_blank"><img src="../src/img/benz/video2.png" /></a>
                -->
                </td>
              </tr>
              <tr>
                <td colspan="3" height="20"></td>
              </tr>
              <tr>
                <td style="position: relative;">
                  <!--
                  <a href="javascript: void(0);">
                  <img src="../src/img/benz/detail-btn.png" style="position: absolute; left: 44%; top: 87%; height: 13px;" id="part1" onclick="this.style.display='none'; document.getElementById('full1').style.display='block';">
                  </a>
                  <a href="javascript: void(0);">
                  <img src="../src/img/benz/hide-btn.png" style="position: absolute; left: 13%; bottom: 2%; height: 13px;" id="part1" onclick="this.style.display='none'; document.getElementById('full1').style.display='block';">
                  </a>
                  -->
                  <img src="../src/img/benz/text1-full.png" id="full1" >
                </td>
                <td widht="4%"></td>
                <td style="position: relative;">
                  <!--
                  <a href="javascript: void(0);">
                  <img src="../src/img/benz/detail-btn.png" style="height: 13px; position: absolute; top: 85%; left: 46%;" id="part1" onclick="this.style.display='none'; document.getElementById('full1').style.display='block';">
                  </a>
                  <a href="javascript: void(0);">
                    <img src="../src/img/benz/hide-btn.png" style="height: 13px; position: absolute; top: 94%; left: 17%;" id="part1" onclick="this.style.display='none'; document.getElementById('full1').style.display='block';">
                  </a>
                  -->
                  <img src="../src/img/benz/text2-full2.png" id="full2" >
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <!--
            <div class="title-container">
            <h1 class="title" style="color: #6b94c9 !important;">Vehicle</h1>
            <hr class="mid">
            -->
            <img src="../src/img/benz/vehicle.png">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <img src="../src/img/benz/big1.png" />
            <div style="height: 20px;"></div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <img src="../src/img/benz/r-total-part.png">
          </td>
        </tr>
        <tr>
          <td colspan="2" height="1">
            <a name="anchor1" style="display: block;"></a>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <!--
            <div class="title-container">
            <h1 class="title" style="color: #7b4e17 !important;">Event</h1>
            <hr class="mid">
            -->
            <img src="../src/img/benz/event.png" width="100%">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="position:relative;">
            <!--
            <img src="../src/img/benz/content1.png">
            <img src="../src/img/benz/content2.png" style="position: absolute; top: 14%; right: 19%; z-index: 2;">
            <img src="../src/img/benz/content3.png" style="position: absolute; bottom: 0; left: 0;">
            <img src="../src/img/benz/content4.png" style="position: absolute; bottom: 0; right: 0;">
            -->
            <img src="../src/img/benz/content.png" width="100%" alt="">
            <div style="height: 20px"></div>
          </td>
        </tr>
        <tr>
          <td colspan="2" name="">
            <img src="../src/img/benz/m-text.png" alt="">
          </td>
        </tr>
        <tr>
          <td colspan="2" height="1">
            <a name="anchor2" style="display: block;"></a>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <img src="../src/img/benz/sport.png">
            <!--
            <div class="title-container">
            <h1 class="title" style="color: #7ebbc3 !important;">Sport</h1>
            <hr class="mid">
            -->
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <img src="../src/img/benz/big2.png">
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td name="" width="50%">
            <img src="../src/img/benz/list-text.png" alt="">
          </td>
          <td>
            <img src="../src/img/benz/right1.png" style="padding-left: 11px; width: 350px;">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <br>
            <img src="../src/img/benz/t-total-part.png" alt="">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_lee }}</p>
      </td>
    </tr>
  </table>
</div>
-->
